{% extends 'base.html' %}


{% block content %}
<div class="container">

    <h1>Ласкаво просимо до Lightning Shop!</h1>
    <p><i>Ти на головній сторінці сайту.</i></p>
    <h2>Тут поки порожньо, але цей блог(чи магазин, хз) буде поповнюватись новими речами!</h2>

    <a href="{% url 'main:about' %}" class="btn btn-info">About us</a>
    <a href="{% url 'main:lol' %}" class="btn btn-primary" , title="DON'T CLICK ON THIS">Lol</a>
    <a href="{% url 'article:index' %}" class="btn btn-error" , title="DON'T CLICK ON THIS">Blogs</a>
</div>
{% endblock %}