<div
    class="card card-compact w-95 bg-base-200 shadow-lg hover:bg-base-100 transition-all duration-200 hover:shadow-md m-1">
    <a href="{% url 'article:detail' post.id %}">
        <figure>
            <img src="{{ post.get_post_thumbnail }}" alt="Post Photo" class="w-full rounded-md" />
        </figure>

        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <div class="flex items-center mt-4">
                <img src="{{post.author.profile.get_avatar}}" alt="avatar" class="w-8 rounded-full" />
                <h2 class="text-lg ml-3">{{ post.author }}</h2>
            </div>
    </a>
    <div class="card-actions justify-end">
        <div class="flex flex-row flex-wrap mx-2">
            <p class="text-lg mx-3 text-white"><i class="fa-solid fa-comment text-white mt-4 mx-1"></i>
                {{ post.comments.count }}
            </p>
            {% if user == post.author %}
            <p class="text-lg mx-3 text-white"><i class="fa-solid fa-heart mt-4 text-white mx-1"></i>
                {{ post.like.count }}</p>
            <p class="text-lg mx-3 text-white"><i class="fa-solid fa-thumbs-down text-white mt-4 mx-1"></i>
                {{ post.dislike.count }}
            </p>
            {% else %}
            <button class="btn btn-dark text-white text-lg mx-1" id="dislike_{{post.id}}"
                onclick="dislike({{post.id}})"><i
                    class="fa-solid fa-thumbs-down {%if user in post.dislike.all %}text-yellow-500{%else%}text-white{%endif%}"></i>
                {{ post.dislike.count }}</button>
            <button class="btn btn-dark text-white text-lg mx-1" id="like_{{post.id}}" onclick="like({{post.id}})"><i
                    class="fa-solid fa-heart {%if user in post.like.all %}text-red-500{%else%}text-white{%endif%}"></i>
                {{ post.like.count }}</button>
            {% endif %}
        </div>

    </div>
</div>
</a>
</div>