{% extends 'base.html' %}

{% block title %}Make Post{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold text-center my-2">Have your say!</h2>
<div class="container flex justify-center bg-base-100 my-4 p-7 w-full">
    <form action="{% url 'article:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-6">
            {{ created_form.media }}
            {% for field in created_form %}
            <div class="form-control">
          <label class="label">
            <span class="label-text">{{ field.label }}</span>
          </label>
        
       {% if field.name == 'content' %}
       <div class="ck-content text-gray-700">{{ field }}</div>
        {% elif field.name == 'image' %}
        <input type="file" name="{{ field.name }}" class="file-input file-input-bordered file-input-accent  w-full max-w-xs" placeholder="{{ field.label }}" value="{{ field.value }}">
        {% elif field.name == 'tags' %}

        <div id="id_tags"><div>
            {% for tag in all_tags %}
            <label class='label' for="id_tags_{{forloop.counter0}}"><input type="checkbox" name="tags" value="{{tag.id}}" {% if tag.id in tag_ids %} checked {% endif %}>
         {{tag.name}}</label>
         {% endfor%}               
        </div>
        </div>

        {% else %}
        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="input input-bordered" placeholder="{{ field.label }}">
        {% endif %}
      </div>
    {% endfor %}
            <button class="btn btn-success m-3 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">Create</button>
        </div>
    </form>
</div>

{% endblock %}