{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<img src="{{ post.get_post_image }}" alt="Shoes" class="w-full max-h-96 object-cover mb-4 rounded-md" />
<h1 class="text-4xl font-bold ps-5">{{ post.title }}</h1>
<div class="flex flex-row justify-start my-2 ps-5">
    {% for tag in post.tags.all %}
    <div class="badge badge-accent italic font-medium p-3 mx-1">{{ tag.name }}</div>
    {% endfor %}
</div>

{% if post.author == user %}
<div class="border-b-2 border-gray-200 py-4 ps-5">
    <a onclick="edit_post.showModal()" class="btn btn-primary">Edit</a>
    <a onclick="delete_post.showModal()" class="btn btn-error">Delete</a>
</div>
{% endif %}

<div class="border-b-4 border-gray-200 py-4 ps-5">
    <a href="{% url 'members:profile' post.author.profile.id %}">
        <div class="flex items-center mt-4">
            <img src="{{post.author.profile.get_avatar}}" alt="avatar" class="w-8 rounded-full mb-4" />
            <h2 class="text-lg ml-3 mb-4">{{ post.author }}</h2>
        </div>
    </a>

    <p class="text-gray-500 mb-4">Published: {{ post.created_at.date }}</p>
    <p class="text-gray-500 mb-4">Likes: {{ post.like.count }}</p>
    <p class="text-gray-500 mb-4">Dislikes: {{ post.dislike.count }}</p>
    <p class="text-gray-500 mb-4">Comments: {{ post.comments.count }}</p>
</div>

<div class="comtainer my-5 mx-6">
    <p class="text-lg text-white">{{ post.content|safe }}</p>
</div>

<hr class="my-4">
<h3 class="text-2xl font-bold mb-4 ps-4">Comments</h3>
<form action="{% url 'article:comment' post_id=post.id %}" method="post">
    {% csrf_token %}
    <div class="grid grid-cols-1 gap-6 justify-items-stretch">
        <div class="form-control">
            <textarea class="textarea textarea-bordered textarea-primary text-2xl mx-5" name="content"
                placeholder="Коментар" rows="3"></textarea>
        </div>
        <button class="btn btn-primary mx-5 justify-self-start">Comment</button>
    </div>
</form>
<div class="grid grid-cols-1 gap-6 mt-4">
    {% for comment in post.comments.all %}
    <div class="p-3 m-3 bg-base-200 rounded-lg">
        <p class="text-gray-500 mb-4">Author: {{ comment.author }}</p>
        <p class="text-gray-500 mb-4">Published: {{ comment.created_at|timesince }} ago</p>
        <p>{{ comment.content }}</p>
        <div class="container m-1">
            <div class="flex flex-row flex-wrap mx-2">
                {% if user == post.author %}
                <p class="text-lg mx-3 text-white"><i class="fa-solid fa-heart mt-4 text-white mx-1"></i>
                    {{ comment.like.count }}</p>
                <p class="text-lg mx-3 text-white"><i class="fa-solid fa-thumbs-down text-white mt-4 mx-1"></i>
                    {{ comment.dislike.count }}
                </p>
                {% else %}
                <button
                    class="btn {% if comment.author_id != user.id %} btn-dark {% else %} btn-disabled {% endif %} text-white text-lg"
                    id="dislike_{{comment.id}}" onclick="dislike({{comment.id}})">
                    <i
                        class="fa-solid fa-thumbs-down {%if user in comment.dislike.all %}text-yellow-500{%else%}text-white{%endif%}"></i>
                    {{ comment.dislike.count }}</button>
                <button
                    class="btn {% if comment.author_id != user.id %} btn-dark {% else %} btn-disabled {% endif %} text-white text-lg"
                    id="like_{{comment.id}}" onclick="like({{comment.id}})"><i
                        class="fa-solid fa-heart {%if user in comment.like.all %}text-red-500{%else%}text-white{%endif%}"></i>
                    {{ comment.like.count }}</button>
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}
</div>


<dialog id="edit_post" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div class="container flex justify-center bg-base-100 my-4 p-7 w-full">
            <form action="{% url 'article:update' post.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-6">
                    <div class="form-control">
                        {{ update_form.media }}
                        {{ update_form.as_p }}
                    <button class="btn btn-success m-3 align-center">Update</button>
                </div>
            </form>
        </div>
    </div>
</dialog>


<dialog id="delete_post" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg mb-4">Delete Post</h3>
        <form action="{% url 'article:delete' post.id %}" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-6">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Are you sure you want to delete this post?</span>
                    </label>
                </div>
                <button class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</dialog>

<script>
    function like(id) {
        fetch(`like_comment/${id}`, {
            method: 'GET',
        })
            .then((res) => res.json())
            .then((data) => {
                if (data.user_like) {
                    document.getElementById(`like_${id}`).innerHTML = `<i class="fa fa-heart text-red-500"></i> ${data.like_count}`;
                    if (!data.user_dislike) {
                        document.getElementById(`dislike_${id}`).innerHTML = `<i class="fa fa-thumbs-down text-white"></i> ${data.dislike_count}`;

                    }
                } else {
                    document.getElementById(`like_${id}`).innerHTML = `<i class="fa fa-heart text-white"></i> ${data.like_count}`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                // Redirect to the login page
                //window.location.href = "{% url 'members:login' %}";
            });
    }

    function dislike(id) {
        fetch(`dislike_comment/${id}`, {
            method: 'GET',
        })
            .then((res) => res.json())
            .then((data) => {
                if (data.user_dislike) {
                    document.getElementById(`dislike_${id}`).innerHTML = `<i class="fa fa-thumbs-down text-yellow-500"></i> ${data.dislike_count}`;
                    if (!data.user_like) {
                        document.getElementById(`like_${id}`).innerHTML = `<i class="fa fa-heart text-white"></i> ${data.like_count}`;

                    }
                } else {
                    document.getElementById(`dislike_${id}`).innerHTML = `<i class="fa fa-thumbs-down text-white"></i> ${data.dislike_count}`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                // Redirect to the login page
                // window.location.href = "{% url 'members:login' %}";
            });
    }
</script>
{% endblock %}