{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<img src="{% if not post.image %}
    https://upload.wikimedia.org/wikipedia/ru/thumb/6/61/Rickrolling.gif/200px-Rickrolling.gif
    {% else %}
    {{ post.image.url }}
    
    {% endif %}" alt="Shoes" class="w-full max-h-96 object-cover mb-4 rounded-md" />

<h1 class="text-4xl font-bold mb-4">{{ post.title }}</h1>

{% if post.author == user %}
<div class="my-4 border-b-2 border-gray-200 p-4">
    <a onclick="edit_post.showModal()" class="btn btn-primary">Edit</a>
    <a onclick="delete_post.showModal()" class="btn btn-error">Delete</a>
</div>
{% endif %}

<p class="text-gray-500 mb-4">Author: {{ post.author }}</p>
<p class="text-gray-500 mb-4">Published: {{ post.created_at.date }}</p>
<p class="text-gray-500 mb-4">Likes: {{ post.like.count }}</p>
<p class="text-gray-500 mb-4">Dislikes: {{ post.dislike.count }}</p>
<p class="text-gray-500 mb-4">Comments: {{ post.comments.count }}</p>


<p class="mb-4">{{ post.content }}</p>


<hr class="my-4">
<h3 class="text-2xl font-bold mb-4">Comments</h3>
<form action="{% url 'article:comment' post_id=post.id %}" method="post">
    {% csrf_token %}
    <div class="grid grid-cols-1 gap-6">
        <div class="form-control">
            <textarea class="textarea textarea-bordered textarea-primary text-2xl" name="content" placeholder="Коментар"
                rows="3"></textarea>
        </div>
        <button class="btn btn-primary">Comment</button>
    </div>
</form>
<div class="grid grid-cols-1 gap-6 mt-4">
    {% for comment in post.comments.all %}
    <div class="p-4 bg-base-200 rounded-lg w-flex">
        <p class="text-gray-500 mb-4">Author: {{ comment.author }}</p>
        <p class="text-gray-500 mb-4">Published: {{ comment.created_at|timesince }} ago</p>
        <p>{{ comment.content }}</p>
        <div class="container">
            <button
                class="btn {% if comment.author_id != user.id %} btn-dark {% else %} btn-disabled {% endif %} text-white text-lg"
                id="dislike_{{comment.id}}" onclick="dislike({{comment.id}})">
                <i
                    class="fa-solid fa-thumbs-down {%if user in comment.dislike.all %}text-yellow-500{%else%}text-white{%endif%}"></i>
                {{ comment.dislike.count }}</button>
            <button
                class="btn {% if comment.author_id != user.id %} btn-dark {% else %} btn-disabled {% endif %} text-white text-lg"
                id="like_{{comment.id}}" onclick="like({{comment.id}})"><i
                    class="fa-solid fa-heart {%if user in comment.like.all %}text-red-500{%else%}text-white{%endif%}"></i>
                {{ comment.like.count }}</button>
        </div>

    </div>
    {% endfor %}
</div>


<dialog id="edit_post" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg mb-4">Create Post</h3>
        <form action="{% url 'article:update' post.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-6">
                {% for field in update_form %}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{{ field.label }}</span>
                    </label>
                    {% if field.name == 'content' %}
                    <textarea class="textarea textarea-bordered" name="{{ field.name }}" placeholder="{{ field.label }}"
                        rows="5">{{ field.value }}</textarea>
                    {% elif field.name == 'image' %}
                    <input type="file" name="{{ field.name }}"
                        class="file-input file-input-bordered file-input-accent  w-full max-w-xs"
                        placeholder="{{ field.label }}" value="{{ field.value }}">
                    {% else %}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                        class="input input-bordered" placeholder="{{ field.label }}" value="{{ field.value }}">
                    {% endif %}
                </div>
                {% endfor %}
                <button class="btn btn-primary">Create</button>
            </div>

        </form>
    </div>
</dialog>


<dialog id="delete_post" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg mb-4">Delete Post</h3>
        <form action="{% url 'article:delete' post.id %}" method="post">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-6">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Are you sure you want to delete this post?</span>
                    </label>
                </div>
                <button class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</dialog>

<script>
    function like(id) {
        fetch(`like_comment/${id}`, {
            method: 'GET',
        })
            .then((res) => res.json())
            .then((data) => {
                if (data.user_like) {
                    document.getElementById(`like_${id}`).innerHTML = `<i class="fa fa-heart text-red-500"></i> ${data.like_count}`;
                    if (!data.user_dislike) {
                        document.getElementById(`dislike_${id}`).innerHTML = `<i class="fa fa-thumbs-down text-white"></i> ${data.dislike_count}`;

                    }
                } else {
                    document.getElementById(`like_${id}`).innerHTML = `<i class="fa fa-heart text-white"></i> ${data.like_count}`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                // Redirect to the login page
                //window.location.href = "{% url 'members:login' %}";
            });
    }

    function dislike(id) {
        fetch(`dislike_comment/${id}`, {
            method: 'GET',
        })
            .then((res) => res.json())
            .then((data) => {
                if (data.user_dislike) {
                    document.getElementById(`dislike_${id}`).innerHTML = `<i class="fa fa-thumbs-down text-yellow-500"></i> ${data.dislike_count}`;
                    if (!data.user_like) {
                        document.getElementById(`like_${id}`).innerHTML = `<i class="fa fa-heart text-white"></i> ${data.like_count}`;

                    }
                } else {
                    document.getElementById(`dislike_${id}`).innerHTML = `<i class="fa fa-thumbs-down text-white"></i> ${data.dislike_count}`;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                // Redirect to the login page
                // window.location.href = "{% url 'members:login' %}";
            });
    }
</script>
{% endblock %}