{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="flex my-10 gap-10">
    <div class="w-1/3 bg-base-200 p-10 rounded-box">
        <h1 class="text-3xl font-bold mb-4">Profile</h1>
        <img src="{{ profile.get_avatar }}" alt="avatar" width="100%" class="ms-3 my-3 rounded">
        <p class="text-gray-500 mb-4 text-3xl">{{ profile.user.username }}</p>
        <p class="text-gray-500 mb-4 text-2xl">Email: {{ profile.user.email }}</p>
        {% if is_owner %}
        <a href="{% url 'members:logout' %}"
            class="btn bg-gradient-to-r text-black from-indigo-500 to-pink-500">Logout</a>
        <a href="{% url 'members:profile-edit' %}"
            class="btn bg-gradient-to-r text-black from-sky-500 to-yellow-500">Edit profile</a>
        {% endif %}
    </div>
    <div class="w-2/3 bg-base-200 p-10 rounded-box">
        <h1 class="text-3xl font-bold mb-4">My Bio</h1>
        <h2 class="text-xl font-semibold my-4">{% if profile.biography %}{{ profile.biography }}{% else %}No
            bio {% endif %}</h2>

    </div>
</div>
<div class=" bg-base-200 p-10 rounded-box">
    <h1 class="text-3xl font-bold mb-4">Posts</h1>
    {% if is_owner %}
    <a href="{% url 'article:create-post' %}" class="btn text-black bg-gradient-to-r from-cyan-500 to-blue-500">Create
        Post</a>
    {% endif %}
    <div class="my-4 border-b-2 border-gray-300 w-full"></div>
    <div class="grid grid-cols-3 gap-7">
        {% for post in posts %}

        {% include 'article/_include_blocks/_card_post.html' with post=post profile=profile %}

        {% endfor %}
    </div>
    <div class="join align-center justify-center flex my-4">
        {% if posts.has_previous %}
        <a href="?page=1" class="join-item btn">«</a>
        <a href="?page={{ posts.previous_page_number }}" class="join-item btn">Page {{ posts.previous_page_number }}</a>
        {% endif %}

        <button class="join-item btn btn-primary">Page {{ posts.number }}</button>

        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="join-item btn">Page {{ posts.next_page_number }}</a>
        <a href="?page={{ posts.paginator.num_pages }}" class="join-item btn">»</a>

        {% endif %}
    </div>
</div>

{% endblock %}